<section class="page-banner">
  <video class="page-banner__video" autoplay muted loop playsinline>
    <source src="assets/img/video-banner2-home.mp4" type="video/mp4" />
  </video>

  <div class="page-banner__overlay">
    <div class="container">
      <span class="hero-banner__badge page-banner__badge">CONTATO</span>
      <h1 class="hero-banner__title page-banner__title">FALE COM A VNET</h1>
      <p class="page-banner__text">
        Viver tecnologia é o que nos move para transformar sua infraestrutura
        digital com segurança, performance e inovação.
      </p>
    </div>
  </div>
</section>
