<header class="site-header">
  <nav class="navbar navbar-expand-lg">
    <div
      class="container-fluid px-4 px-lg-5 d-flex align-items-center justify-content-between"
    >
      <a class="navbar-brand d-flex align-items-center" href="index.html">
        <img
          src="assets/img/logo-exploretevitoria.png"
          alt="Explore Vitória - Vivendo no ES"
          class="logo-header"
        />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navMenu"
        aria-controls="navMenu"
        aria-expanded="false"
        aria-label="Abrir menu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-4">
          <li class="nav-item">
            <a class="nav-link" href="index.html">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sobre.html">SOBRE NÓS</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="experienciasDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              EXPERIÊNCIAS
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              data-bs-display="static"
              aria-labelledby="experienciasDropdown"
            >
              <li>
                <a
                  class="dropdown-item"
                  href="solucoes/cloud-containers-apis.html"
                  >Turismo Histórico e Cultural</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="solucoes/comunicacao-em-cloud.html"
                  >Gastronomia Capixaba</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="experiencias/praias-e-litoral.html"
                  >Praias e Litoral</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="experiencias/vida-noturna-lazer.html"
                  >Vida Noturna e Lazer</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="experiencias/compras-artesanato.html"
                  >Compras e Artesanato</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="experiencias/aventura-natureza.html"
                  >Aventura e Natureza</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mochilao.html">MOCHILÃO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="fale-conosco.html">FALE CONOSCO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
