<section class="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-10 col-12 partners__col">
        <span class="partners__badge">PARCEIROS</span>
        <h2 class="partners__title">
          O Melhor da Gastronomia e Hospedagem Capixaba
        </h2>
        <p class="partners__subtitle">
          Parcerias estratégicas com hotéis aconchegantes e restaurantes
          imperdíveis, selecionados para proporcionar conforto, segurança e o
          melhor da nossa cultura local.
        </p>
      </div>
    </div>
  </div>

  <div class="partners-carousel">
    <div class="partners-carousel__track" id="partnersTrack">
      <div class="partners-logo">
        <img src="assets/img/cymulate-pag.png" alt="Cymulate" />
      </div>
      <div class="partners-logo">
        <img src="assets/img/jscrambler-pag.png" alt="Jscrambler" />
      </div>
      <div class="partners-logo">
        <img src="assets/img/aqua-pag.png" alt="Aqua" />
      </div>
      <div class="partners-logo">
        <img src="assets/img/salt-pag.png" alt="Salt" />
      </div>
      <div class="partners-logo">
        <img src="assets/img/corellium-pag.png" alt="Corellium" />
      </div>
      <div class="partners-logo">
        <img src="assets/img/crowdstrike-pag.png" alt="Crowdstrike" />
      </div>
      <div class="partners-logo">
        <img src="assets/img/delinea-pag.png" alt="Delinea" />
      </div>
      <div class="partners-logo">
        <img src="assets/img/versa.png" alt="Versa" />
      </div>
      <div class="partners-logo">
        <img src="assets/img/sdelements-pag.png" alt="SD Elements" />
      </div>
      <div class="partners-logo">
        <img src="assets/img/neuraltrust-pag.png" alt="Neuraltrust" />
      </div>
      <div class="partners-logo">
        <img src="assets/img/tuvis.png" alt="TUVIS" />
      </div>
      <div class="partners-logo">
        <img src="assets/img/veracode-pag.png" alt="Veracode" />
      </div>
      <div class="partners-logo">
        <img src="assets/img/hid-pag.png" alt="HID" />
      </div>
      <div class="partners-logo">
        <img src="assets/img/appdome-pag.png" alt="Appdome" />
      </div>
    </div>
  </div>
</section>
