<section class="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-10 col-12 partners__col">
        <span class="partners__badge">PARCEIROS</span>
        <h2 class="partners__title">
          O Melhor da Gastronomia e Hospedagem Capixaba
        </h2>
        <p class="partners__subtitle">
          Parcerias estratégicas com hotéis aconchegantes e restaurantes
          imperdíveis, selecionados para proporcionar conforto, segurança e o
          melhor da nossa cultura local.
        </p>
      </div>
    </div>
  </div>

  <div class="partners-carousel">
    <div class="partners-carousel__track" id="partnersTrack">
      <div class="partners-logo">
        <img
          src="assets/img/ff973a7af655c612624564c9f14cb3f0.jpg"
          alt="Cymulate"
        />
      </div>
      <div class="partners-logo">
        <img
          src="assets/img/26fcda3a6e3cbad9802ff0e1dc10d117.jpg"
          alt="Jscrambler"
        />
      </div>
      <div class="partners-logo">
        <img src="assets/img/6e161fc1d1555f24baecaf5e0f11516c.jpg" alt="Aqua" />
      </div>
      <div class="partners-logo">
        <img
          src="assets/img/c81e26ad4433d1f5a909a601cd8ceecc.jpg"
          alt="Crowdstrike"
        />
      </div>
      <div class="partners-logo">
        <img
          src="assets/img/a4b3d4137bec7fae57b77845e1c96809.jpg"
          alt="Delinea"
        />
      </div>
      <div class="partners-logo">
        <img
          src="assets/img/37be84ecfd5b483aa06014a3aa75bff3.jpg"
          alt="Versa"
        />
      </div>
      <div class="partners-logo">
        <img
          src="assets/img/7c31d8a44541eebda101b0825c4687cf.jpg"
          alt="SD Elements"
        />
      </div>
      <div class="partners-logo">
        <img
          src="assets/img/e0ad72eafc1bde62871d7d1cf9af16dd.jpg"
          alt="Neuraltrust"
        />
      </div>
      <div class="partners-logo">
        <img
          src="assets/img/b0e29d70c494deb16c123ca34fcbe708.jpg"
          alt="TUVIS"
        />
      </div>
      <div class="partners-logo">
        <img
          src="assets/img/0e6669e313175c6e92976fc056439751.jpg"
          alt="Veracode"
        />
      </div>
      <div class="partners-logo">
        <img src="assets/img/903bc4a2953f5ee909ee5d85a4dd981e.jpg" alt="HID" />
      </div>
      <div class="partners-logo">
        <img
          src="assets/img/6beb7f8a1e2d67e6a0b9ae0af6ad5ef9.jpg"
          alt="Appdome"
        />
      </div>
    </div>
  </div>
</section>
